* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.shadow {
  position: absolute;
  z-index: -1;
  top: 475px;
}

.btn {
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn-light {
  background-color: #fff;
  color: #333136;
  transition: all 0.4s;
}

.btn-light:hover {
  background-color: #333136;
  color: #fff;
}

.btn-peach {
  background-color: #E7816B;
  color: #fff;
  transition: all 0.4s;
}

.btn-peach:hover {
  background-color: #ad513c;
}

.header_container {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_container .auth ul {
  display: flex;
  gap: 42px;
}

.header_container .auth ul a {
  color: #333136;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.header_container .auth ul a:hover {
  color: #E7816B;
}

footer {
  background-color: #1D1C1E;
  padding: 144px 164px 72px;
}

footer .up-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 31px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

footer .up-footer .auth ul {
  display: flex;
  gap: 42px;
}

footer .up-footer .auth ul a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s;
}

footer .up-footer .auth ul a:hover {
  color: #E7816B;
}

footer .down-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer .down-footer > div:nth-child(1) {
  margin-right: 100px;
}

footer .down-footer > div:nth-child(3) {
  text-align: right;
}

footer .down-footer div {
  width: 350px;
}

footer .down-footer div p, footer .down-footer div a {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  line-height: 26px;
}

footer .down-footer div span {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  opacity: 60%;
}

footer .down-footer .logos {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.container {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  background-color: #E7816B;
  margin-bottom: 160px;
  border-radius: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

.hero .hero_title {
  margin-left: 95px;
  z-index: 2;
}

.hero .hero_title h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #fff;
}

.hero .hero_title p {
  width: 445px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
}

.hero .hero_img {
  position: relative;
}

.hero .hero_img .circle {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.design_section {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 160px;
  row-gap: 24px;
  -moz-column-gap: 28px;
       column-gap: 28px;
}

.design_section .web_design {
  width: 541px;
  height: 640px;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.design_section .web_design img {
  z-index: -1;
}

.design_section .web_design h1 {
  position: absolute;
  z-index: 1;
}

.design_section .app_design,
.design_section .graphic_design {
  width: 541px;
  height: 308px;
  overflow: hidden;
  border-radius: 15px;
}

.design_section div img {
  transition: all 0.4s;
}

.design_section div img:hover {
  transform: scale(1.1);
}

.advantages {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-bottom: 160px;
  position: relative;
  z-index: 2;
}

.advantages .advantage_item {
  text-align: center;
}

.advantages .advantage_item h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  color: #333136;
  margin-top: 48px;
  margin-bottom: 32px;
}

.advantages .advantage_item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333136;
}

.rectangleCircle {
  position: absolute;
  right: 0;
  top: 1879px;
}

.user_project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 95px 46px;
  background-color: #E7816B;
  border-radius: 12px;
  position: relative;
  z-index: 4;
  margin-bottom: -75px;
}

.user_project .six_circles {
  height: 275px;
  border-radius: 0px 12px 12px 0;
  position: absolute;
  top: 0;
  right: 0;
}

.user_project .user_title {
  color: #fff;
  z-index: 3;
}

.user_project .user_title h1 {
  width: 268px;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

.user_project .user_title p {
  width: 459px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 25px;
}

.user_project .button {
  z-index: 3;
}/*# sourceMappingURL=style.css.map */