@import "../abstract";

.hero {
    display: flex;
    align-items: center;
    background-color: $main-color;
    margin-bottom: 160px;
    border-radius: 12px;

    .hero_title {
        margin-left: 95px;
        z-index: 2;

        h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: 48px;
            text-align: left;
            color: $white-color;
        }

        p {
            width: 445px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
            color: $white-color;
        }
    }

    .hero_img {
        position: relative;

        .circle {
            position: absolute;
            right: 0px;
            z-index: 1;
        }
    }
}


.design_section {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 160px;
    row-gap: 24px;
    column-gap: 28px;

    .web_design {
        width: 541px;
        height: 640px;
        grid-row-start: 1;
        grid-row-end: 3;
        overflow: hidden;
        border-radius: 15px;
        position: relative;

        img {
            z-index: -1;
        }

        h1 {
            // color: #fff;
            position: absolute;
            z-index: 1;
        }
    }

    .app_design, .graphic_design {
        width: 541px;
        height: 308px;
        overflow: hidden;
        border-radius: 15px;
    }

    div {
        
        img {
            transition: all 0.4s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}