@import '../abstract';

.header_container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .auth {
        ul {
            display: flex;
            gap: 42px;

            a {
                color: $near-black;
                font-size: 14px;
                letter-spacing: 2px;
                transition: all 0.2s;
            }
            a:hover {
                color: $main-color;
            }
        }   
    }
}