* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.shadow {
    position: absolute;
    z-index: -1;
    top: 475px;
}